<header class="bg-faded">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light ">
      <button class="navbar-toggler navbar-toggler-right" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Business Contacts</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<main class="py-4">
  <div class="container">

    <section class="my-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <button (click)="changeState('add')" type="button" class="btn btn-primary">Add Business</button>
            </div>
            <div class="col-md-6">
              <select (change)="filterCategory(categoryFilter.value)" #categoryFilter class="form-control float-right">
                <option value="">Select Category</option>
                <option value="{{category.name}}" *ngFor="let category of categories;">{{category.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="appState === 'extend'" class="my-4">
      <div *ngFor="let business of businesses; index as i; trackBy: $key">
        <div *ngIf="business.$key == activeKey" class="card">
          <div class="card-header">
            <h2>Info</h2>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-6">
                <h3>{{business.company}}</h3>
                <p>Category: {{business.category}}</p>
                <p>Address: {{business.street_address}}</p>
                <p>{{business.description}}</p>
              </div>
              <div class="col-md-6">
                <h5>Contacts Info</h5>
                <ul class="list">
                  <li>Phone: {{business.phone}}</li>
                  <li>Zip: {{business.zipcode}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-2">
        <button (click)="changeState('default')" type="button" class="btn btn-secondary">&larr; Go back</button>
      </div>
    </section>

    <section *ngIf="appState === 'add'" class="my-4">
      <div class="card">
        <div class="card-header">
          <h2>Add businesse</h2>
        </div>
        <div class="card-block">
          <form novalidate='' [formGroup]='newBusinessForm' (submit)='addBusiness(newBusinessForm)'>
            <div class="form-group row">
              <label for="company" class="col-2 col-form-label">Company</label>
              <div class="col-10">
                <input class="form-control" type="text" formControlName="company" id="company">
              </div>
            </div>
            <div class="form-group row">
              <label for="category" class="col-2 col-form-label">Categor</label>
              <div class="col-10">
                <select id="category" formControlName="category" class="form-control float-right">
                  <option value="">Select Category</option>
                  <option value="{{category.name}}" *ngFor="let category of categories;">{{category.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="yers_in_business" class="col-2 col-form-label">Yers in business</label>
              <div class="col-10">
                <input class="form-control" type="number" formControlName="yers_in_business" id="yers_in_business">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-2 col-form-label">Descriptions</label>
              <div class="col-10">
                <textarea class="form-control w-100" formControlName="description" id="description" id="description" cols="30"
                          rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-2 col-form-label">Phone</label>
              <div class="col-10">
                <input class="form-control" type="phone" formControlName="phone" id="phone">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-2 col-form-label">Email</label>
              <div class="col-10">
                <input class="form-control" type="email" formControlName="email" id="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="street_address" class="col-2 col-form-label">Address</label>
              <div class="col-10">
                <input class="form-control" type="text" formControlName="street_address" id="street_address">
              </div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-2 col-form-label">City</label>
              <div class="col-10">
                <input class="form-control" type="text" formControlName="city" id="city">
              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-2 col-form-label">State</label>
              <div class="col-10">
                <input class="form-control" type="text" formControlName="state" id="state">
              </div>
            </div>
            <div class="form-group row">
              <label for="zipcode" class="col-2 col-form-label">Zipcode</label>
              <div class="col-10">
                <input class="form-control" type="text" formControlName="zipcode" id="zipcode">
              </div>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section *ngIf="businesses">
      <h2>Business</h2>
      <table class="table table-striped small">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Company</th>
            <th>Category</th>
            <th>City</th>
            <!--<th>Description</th>-->
            <th>Email</th>
            <!--<th>Phone</th>-->
            <th>State</th>
            <!--<th>Street address</th>-->
            <th>Years </th>
            <!--<th>Zipcode</th>-->
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses; index as i; trackBy: $key">
            <th class="align-middle">{{i + 1}}</th>
            <th class="align-middle">{{business.company}}</th>
            <th class="align-middle text-center">{{business.category}}</th>
            <th class="align-middle">{{business.city}}</th>
            <th class="align-middle">{{business.email}}</th>
            <th class="align-middle">{{business.state}}</th>
            <th class="align-middle text-center">{{business.years_in_business}}</th>
            <th class="align-middle text-right">
              <div class="btn-group">
                <button (click)="changeState('extend', business.$key)" type="button" class="btn btn-secondary">More</button>
                <button  type="button" class="btn btn-secondary">Edit</button>
                <button  type="button" class="btn btn-danger">Delete</button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</main>